.idea/
.vscode/

archive/
core/__pycache__/
models/__pycache__/

optimization/benchmark/
optimization/iteration/
optimization/notebook/simulation.log
optimization/test/

simulation/data/
simulation/notebook/simulation.log

utils/